<h3>Post Name: <%= @post.name%></h3>
<h3>Post Content: <%= @post.content%></h3>

<form action="/posts/<%=@post.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">

</form>
